<html>

<head>
  <title>Stream to Wav</title>
  <script src="https://cdn.jsdelivr.net/binaryjs/0.2.1/binary.min.js"></script>
</head>

<body style=""><button onclick="startRecording()">Start Recording</button><button onclick="stopRecording()">Stop Recording</button>
  <audio
    id="player" controls="" autoplay="" style="display: none;">
    <source type="audio/mpeg">
    </audio>
    <script src="/javascripts/recorder.js"></script>
</body>

</html>