doctype
html
    head
        title= "Stream to Wav"
        script(src="https://cdn.jsdelivr.net/binaryjs/0.2.1/binary.min.js")
    body
        button(onclick="startRecording()") Start Recording
        button(onclick="stopRecording()") Stop Recording
        audio(id='player', controls='', autoplay='', style='display: none;')
            source(src='screamer.wav', type='audio/mpeg')
        script(src="recorder.js")
        
